{{define "passphrase-record"}}{{template "head" .}}{{range .Pages}}{{template "pagestart" (ctx $ .)}}
<ol class="steps"><li>{{t "pp_step_1"}}</li><li>{{t "pp_step_2"}}</li></ol>
<p>{{t "pp_wordlist"}}: {{range index $.Extra "Lists"}}<span class="check"></span>{{.}} &nbsp; &nbsp; {{end}}</p>
<table class="record">
<thead><tr><th>#</th><th>{{t "col_first_draw"}}</th><th>{{t "col_second_draw"}}</th><th>{{t "col_coordinate"}}</th><th>{{t "col_word"}}</th></tr></thead>
<tbody>
{{range index $.Extra "Rows"}}<tr><td class="num">{{two .}}</td><td><span class="circle"></span></td><td><span class="circle"></span></td><td><span class="box" style="width: 18mm"></span></td><td><span class="box" style="width: 70mm"></span></td></tr>
{{end}}</tbody>
</table>
{{template "strength" (index $.Extra "Strength")}}
{{template "pageend" (ctx $ .)}}{{end}}{{template "tail"}}{{end}}
